@model List<LeaveSystem.ViewModels.EmployeeViewModel>

@{
    ViewBag.Title = "Search Employee";
}
<nav >
<a class="nav-link"  href="/account/EmployeeSearchByRoles">Search by Roles</a>
</nav>
<h2>Employees</h2>
<form class="form-inline" action="/account/EmployeeSearch">
    <label for="search" class="mr-1" style="font-size:larger">Search:&nbsp;</label>
    <input type="search" class="form-control mr-1" id="search" name="search" placeholder="Search By Name" value="@ViewBag.search">
    <button type="submit" class="btn btn-primary">GO</button>
</form>


<table class="table">
    <tr>
        <th>Employee Name</th>
        <th>Employee ID</th>
        <th>Employee e-mail</th>
        <th>Employee Mobile</th>
    </tr>
    @foreach (var item in ViewBag.Employe)
    {
<tr>

    <td>@item.EmployeeName</td>
    <td>@item.EmployeeID</td>
    <td>@item.Email</td>
    <td>@item.Mobile</td>
    <td>
        @if (Session["CurrentUserRoleName"] != null && Session["CurrentUserRoleName"].ToString() == "HR Manager")
        {

            <a href="/account/UpdateEmployee/@item.EmployeeID">Update Details</a>


        }
    </td>
</tr>
    }
</table>


